apiVersion: v1
kind: ConfigMap
metadata:
  name: tileserver-nginx-config
  namespace: neuland-app
data:
  nginx.conf: |
    worker_processes 1;
    events {
        worker_connections 1024;
    }
    http {
        proxy_cache_path /var/cache/nginx/tileserver
        keys_zone=TileserverCache:50m
        levels=1:2
        inactive=2w
        max_size=10g;
        server {
            listen 80;
            server_name localhost;
            access_log /var/log/nginx/access.log;
            error_log /var/log/nginx/error.log;
            location / {
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_hide_header Access-Control-Allow-Origin;
                add_header 'Access-Control-Allow-Origin' '*';
                add_header X-Cache-Status $upstream_cache_status;
                proxy_pass http://localhost:8080;
                proxy_read_timeout 90;
                client_max_body_size 3G;
                proxy_cache TileserverCache;
                proxy_cache_valid 200 2w;
                proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
            }
        }
    }
