apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-config
  namespace: monitoring
data:
  config.xml: "<?xml version=\"1.0\"?>\n<clickhouse>\n<asynchronous_metric_log remove=\"1\"/>\n<metric_log remove=\"1\"/>\n<query_thread_log remove=\"1\" />  \n<query_log remove=\"1\" />\n<query_views_log remove=\"1\" />\n<part_log remove=\"1\"/>\n<session_log remove=\"1\"/>\n<text_log remove=\"1\" />\n<trace_log remove=\"1\"/>\n<crash_log remove=\"1\"/>\n<opentelemetry_span_log remove=\"1\"/>\n<zookeeper_log remove=\"1\"/>\n</clickhouse>\n"
