apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
  namespace: passwords
  labels:
    app: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      containers:
        - name: vaultwarden
          image: vaultwarden/server:testing
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: http
          env:
            - name: DOMAIN
              value: https://vault.neuland.ing
            - name: DATA_FOLDER
              value: /data
            - name: SIGNUPS_ALLOWED
              value: "true"
            - name: SIGNUPS_VERIFY
              value: "true"
            - name: ADMIN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: ADMIN_TOKEN
            - name: ROCKET_WORKERS
              value: "4"
            - name: WEBSOCKET_ENABLED
              value: "true"
            - name: IP_HEADER
              value: X-Forwarded-For
            - name: TRUST_PROXY
              value: "true"
            - name: SSO_ENABLED
              value: "true"
            - name: SSO_ONLY
              value: "true"
            - name: SSO_SIGNUPS_MATCH_EMAIL
              value: "true"
            - name: SSO_AUTHORITY
              value: https://sso.informatik.sexy/application/o/vaultwarden/
            - name: SSO_SCOPES
              value: "email profile openid offline_access"
            - name: SSO_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: SSO_CLIENT_ID
            - name: SSO_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: SSO_CLIENT_SECRET
            - name: ORG_ATTACHMENT_LIMIT
              value: "300000"
            - name: USER_ATTACHMENT_LIMIT
              value: "50000"
            - name: ORG_CREATION_USERS
              value: "none"
            - name: EMAIL_CHANGE_ALLOWED
              value: "false"
            - name: SMTP_HOST
              value: smtp.azurecomm.net
            - name: SMTP_PORT
              value: "587"
            - name: SMTP_SECURITY
              value: starttls
            - name: SMTP_FROM
              value: DoNotReply@neuland-ingolstadt.de
            - name: SMTP_FROM_NAME
              value: Neuland
            - name: SMTP_USERNAME
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: SMTP_USERNAME
            - name: SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: SMTP_PASSWORD
          readinessProbe:
            httpGet:
              path: /alive
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /alive
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-data
