apiVersion: apps/v1
kind: Deployment
metadata:
  name: fider
  namespace: verein-int
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fider
  template:
    metadata:
      labels:
        app: fider
    spec:
      containers:
        - name: fider
          image: getfider/fider:stable
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http
          env:
            - name: BASE_URL
              value: https://ideas.eggl.one
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: fider-secret
                  key: DATABASE_URL
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: fider-secret
                  key: JWT_SECRET
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fider-secret
                  key: POSTGRES_PASSWORD
            - name: EMAIL_NOREPLY
              value: "noreply@neuland-ingolstadt.de"
            - name: EMAIL_SMTP_HOST
              value: "placeholder"
            - name: EMAIL_SMTP_PORT
              value: "placeholder"
            - name: EMAIL_SMTP_USER
              value: "placeholder"
            - name: EMAIL_SMTP_PASSWORD
              value: "placeholder"
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 250m
              memory: 512Mi
