apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageUpdateAutomation
metadata:
  name: neuland-next-docs
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: |
        chore(neuland-next-docs): update image tags
    push:
      branch: main
  update:
    path: "./clusters/cluster/apps/neuland-app/neuland-next-docs"
    strategy: Setters
