apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: fluxcd-alerts
  namespace: monitoring
  labels:
    app: kube-prometheus-stack
    release: kube-prometheus-stack
spec:
  groups:
    - name: fluxcd.rules
      interval: 30s
      rules:
        - alert: FluxCDKustomizationNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="Kustomization", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux Kustomization {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux Kustomization {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. Revision: {{ $labels.revision }}"
        - alert: FluxCDHelmReleaseNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="HelmRelease", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux HelmRelease {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux HelmRelease {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. Chart: {{ $labels.chart_name }}, Version: {{ $labels.revision }}"
        - alert: FluxCDGitRepositoryNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="GitRepository", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux GitRepository {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux GitRepository {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. URL: {{ $labels.url }}, Revision: {{ $labels.revision }}"
        - alert: FluxCDOCIRepositoryNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="OCIRepository", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux OCIRepository {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux OCIRepository {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. URL: {{ $labels.url }}, Revision: {{ $labels.revision }}"
        - alert: FluxCDHelmRepositoryNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="HelmRepository", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux HelmRepository {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux HelmRepository {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. URL: {{ $labels.url }}"
        - alert: FluxCDBucketNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="Bucket", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux Bucket {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux Bucket {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. Endpoint: {{ $labels.endpoint }}, Bucket: {{ $labels.bucket_name }}"
        - alert: FluxCDImageRepositoryNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="ImageRepository", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux ImageRepository {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux ImageRepository {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. Image: {{ $labels.image }}"
        - alert: FluxCDImagePolicyNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="ImagePolicy", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux ImagePolicy {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux ImagePolicy {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. Source: {{ $labels.source_name }}"
        - alert: FluxCDImageUpdateAutomationNotReady
          expr: |
            {__name__=~"gotk_.*_resource_info", customresource_kind="ImageUpdateAutomation", ready!="True", suspended!="true"} == 1
          for: 3m
          labels:
            severity: error
          annotations:
            summary: "Flux ImageUpdateAutomation {{ $labels.name }} in namespace {{ $labels.exported_namespace }} is not ready"
            description: "Flux ImageUpdateAutomation {{ $labels.name }} in namespace {{ $labels.exported_namespace }} has been not ready for more than 3 minutes. Source: {{ $labels.source_name }}"
