apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: monitoring
spec:
  interval: 30m
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  targetNamespace: monitoring
  releaseName: kube-prometheus-stack
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 65.5.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: monitoring
  values:
    grafana:
      envFromSecret: grafana-oidc-secret
      grafana.ini:
        server:
          domain: grafana.neuland.ing
          root_url: https://grafana.neuland.ing/
        unified_alerting:
          enabled: true
        auth:
          disable_login_form: true
          disable_signout_menu: false
        auth.generic_oauth:
          enabled: true
          name: "Neuland Auth"
          allow_sign_up: true
          client_id: $__env{OIDC_CLIENT_ID}
          client_secret: $__env{OIDC_CLIENT_SECRET}
          auth_url: "https://sso.informatik.sexy/application/o/authorize/"
          token_url: "https://sso.informatik.sexy/application/o/token/"
          api_url: "https://sso.informatik.sexy/application/o/userinfo/"
          scopes: "openid profile email"
        # users:
        #   auto_assign_org: true
        #   auto_assign_org_name: "Neuland Ingolstadt Kubernetes"

      extraEnv:
      - name: GF_AUTH_GENERIC_OAUTH_ENABLED
        value: "true"
    prometheus:
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
    alertmanager:
      enabled: true
      alertmanagerSpec:
        secrets:
        - telegram-bot-secrets
      config:
        global:
          resolve_timeout: 5m
        inhibit_rules:
        - source_matchers:
          - 'severity = critical'
          target_matchers:
          - 'severity =~ warning|info'
          equal:
          - 'namespace'
          - 'alertname'
        - source_matchers:
          - 'severity = warning'
          target_matchers:
          - 'severity = info'
          equal:
          - 'namespace'
          - 'alertname'
        - source_matchers:
          - 'alertname = InfoInhibitor'
          target_matchers:
          - 'severity = info'
          equal:
          - 'namespace'
        - target_matchers:
          - 'alertname = InfoInhibitor'
        route:
          group_by:
          - namespace
          - alertname
          group_wait: 30s
          group_interval: 5m
          repeat_interval: 12h
          receiver: telegram
          routes:
          - receiver: 'null'
            matchers:
            - alertname = "Watchdog"
        receivers:
        - name: telegram
          telegram_configs:
          - chat_id: "-1003385562560"
            send_resolved: true
            api_url: https://api.telegram.org
            bot_token_file: /etc/alertmanager/secrets/telegram-bot-secrets/TELEGRAM_BOT_API_KEY
            message: '{{ template "telegram.default" . }}'
        - name: 'null'
        templates:
        - /etc/alertmanager/config/telegram-default.tmpl
      templateFiles:
        telegram-default.tmpl: |-
          {{ define "telegram.default" -}}
          {{- range .Alerts }}
          Alert: {{ .Annotations.summary | default .Labels.alertname }}
          Namespace: {{ .Labels.namespace | default "cluster-wide" }}
          Severity: {{ .Labels.severity | default "none" }}
          {{- if .Annotations.description }}
          {{ .Annotations.description }}
          {{- end }}
          Details: {{ .GeneratorURL }}
          {{ end -}}
          {{- end }}
