apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: monitoring
spec:
  interval: 30m
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  targetNamespace: monitoring
  releaseName: kube-prometheus-stack
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 65.5.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: monitoring
  values:
    grafana:
      envFromSecret: grafana-oidc-secret
      grafana.ini:
        server:
          domain: grafana.neuland.ing
          root_url: https://grafana.neuland.ing/
        unified_alerting:
          enabled: true
        auth:
          disable_login_form: true
          disable_signout_menu: false
        auth.generic_oauth:
          enabled: true
          name: "Neuland Auth"
          allow_sign_up: true
          client_id: $__env{OIDC_CLIENT_ID}
          client_secret: $__env{OIDC_CLIENT_SECRET}
          auth_url: "https://sso.informatik.sexy/application/o/authorize/"
          token_url: "https://sso.informatik.sexy/application/o/token/"
          api_url: "https://sso.informatik.sexy/application/o/userinfo/"
          scopes: "openid profile email"
        # users:
        #   auto_assign_org: true
        #   auto_assign_org_name: "Neuland Ingolstadt Kubernetes"

      extraEnv:
      - name: GF_AUTH_GENERIC_OAUTH_ENABLED
        value: "true"
    prometheus:
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
    kube-state-metrics:
      customResourceState:
        enabled: true
        config:
          spec:
            resources:
              # GitRepository
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1
                  kind: GitRepository
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      revision: [status, artifact, revision]
                      url: [spec, url]
              # OCIRepository
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1
                  kind: OCIRepository
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      revision: [status, artifact, revision]
                      url: [spec, url]
              # Bucket
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1
                  kind: Bucket
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      revision: [status, artifact, revision]
                      endpoint: [spec, endpoint]
                      bucket_name: [spec, bucketName]
              # HelmRepository
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1
                  kind: HelmRepository
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      revision: [status, artifact, revision]
                      url: [spec, url]
              # HelmChart
              - groupVersionKind:
                  group: source.toolkit.fluxcd.io
                  version: v1
                  kind: HelmChart
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      revision: [status, artifact, revision]
                      chart_name: [spec, chart]
                      chart_version: [status, artifact, version]
              # Kustomization
              - groupVersionKind:
                  group: kustomize.toolkit.fluxcd.io
                  version: v1
                  kind: Kustomization
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      revision: [status, lastAppliedRevision]
                      source_name: [spec, sourceRef, name]
              # HelmRelease
              - groupVersionKind:
                  group: helm.toolkit.fluxcd.io
                  version: v2
                  kind: HelmRelease
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      revision: [status, lastAppliedRevision]
                      chart_name: [spec, chart, spec, chart]
                      chart_app_version: [status, current, appVersion]
                      chart_source_name: [spec, chart, spec, sourceRef, name]
                      chart_ref_name: [spec, chart, spec, sourceRef, name]
              # ImageRepository
              - groupVersionKind:
                  group: image.toolkit.fluxcd.io
                  version: v1beta2
                  kind: ImageRepository
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      image: [spec, image]
              # ImagePolicy
              - groupVersionKind:
                  group: image.toolkit.fluxcd.io
                  version: v1beta2
                  kind: ImagePolicy
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      source_name: [spec, imageRepositoryRef, name]
              # ImageUpdateAutomation
              - groupVersionKind:
                  group: image.toolkit.fluxcd.io
                  version: v1beta2
                  kind: ImageUpdateAutomation
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      source_name: [spec, sourceRef, name]
              # Receiver
              - groupVersionKind:
                  group: notification.toolkit.fluxcd.io
                  version: v1
                  kind: Receiver
                metricNamePrefix: gotk
                metrics:
                  - name: "resource_info"
                    help: "The current state of a GitOps Toolkit resource."
                    each:
                      type: Info
                      info:
                        labelsFromPath:
                          name: [metadata, name]
                          customresource_group: [apiVersion]
                          customresource_kind: [kind]
                          customresource_version: [apiVersion]
                    labelsFromPath:
                      exported_namespace: [metadata, namespace]
                      suspended: [spec, suspend]
                      ready: [status, conditions, "[type=Ready]", status]
                      webhook_path: [spec, resources, "[0]", path]
    alertmanager:
      enabled: true
      alertmanagerSpec:
        alertmanagerConfigMatcherStrategy:
          type: None
        alertmanagerConfigSelector:
          matchLabels:
            alertmanagerConfig: "true"
