apiVersion: apps/v1
kind: Deployment
metadata:
  name: pretix-redis
  namespace: verein-ext
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pretix-redis
  template:
    metadata:
      labels:
        app: pretix-redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          command:
            [
              "redis-server",
              "--maxmemory",
              "100mb",
              "--maxmemory-policy",
              "allkeys-lru",
            ]
          ports:
            - containerPort: 6379
              name: redis
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
